# IDE settings
.idea
.idea/*
.fleet
.vscode

!.idea/.idea.packages/.idea/icon.svg

# Environment settings
.env
.env.backup
.env.production

# Node / documentation
node_modules/

# Project related settings
/*.Test/

# Language specific settings: C#
packages/*/bin/
packages/*/obj/

/bin/
*/bin/
/obj/
*/obj/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
